{% extends 'baseshop.html.twig' %}

{% block body %}
<!-- Featured ------------------------------------------------------------------>
<div id="Product">

    <div class="content row">
        <div class="left">
            <div class="image">
                <img class="card-3" src="{{ asset('uploads/photos/' ~ item.image) }}" alt="Photo du produit">
            </div>
        </div>
        <div class="right">
            <h2>{{ item.name }}</h2>
            <div class="cat"> {{ item.category.name }}</div>
            <div class="price">
                $ {{ item.price | number_format(2, '.', ' ') }}
            </div>
            <h4>Description</h4>
            <p class="description">
                {{ item.description }}
            </p>
            <div class="params">
                <div class="buttons">
                    <form action="{{ path('shop.addToCart', {'pdt_id' : item.id}) }}" method="POST">
                        <h4>Quantity</h4>
                        <input type="number" name="pdt_qty" id="pdt_qty" value="1" min="1" max="1000">
                        <button type="submit" class="button"><span class="fa fa-cart-plus"></span> Add to cart</button>
                    </form>
            </div>
            </div>
            
        </div>
    </div>
</div>
</div> <!--#Product-->
{% endblock %}