<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}iNovatis - Shop Back-Office!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
        <link rel="stylesheet" href="{{asset('resources/vendor/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('resources/styles/admin/css/main.css') }}">
    </head>
    <body>

        {% block body %}
            {% block content %}
                {% block fos_user_content %}{% endblock %}
            {% endblock %}
        {% endblock %}
        <script src="{{ asset('resources/vendor/jquery/jquery-3.1.0.min.js') }}"></script>
        <script src="{{ asset('resources/vendor/foundation/js/vendor/foundation.js') }}"></script>

        <script src="{{ asset('resources/vendor/scripts/foundation.accordionMenu.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('resources/js/main.js') }}"></script>
    </body>
</html>
