{% extends 'baseshop.html.twig' %}

{% block body %}
    <!-- Header ------------------------------------------------------------------>
    <header id="Header">
        <div class="row align-middle">
            <div id="header_image">
                {% if star is not null %}
                    <img src="{{ asset('uploads/photos/' ~ star.image) }}" alt="">
                {% else %}
                    <img src="{{ asset('resources/img/shop/1.jpg') }}" alt="Pas de produit star">
                {% endif %}
            </div>
            <div id="header_text">
            {% if star is not null %}
                <h1>{{ star.name }}</h1>
                <p>
                    {{ star.description }}
                </p>
                <div class="btns">
                    <ul>
                        <li><a class="success hollow button" href="{{ path('shop.product', {'pdt_id' : star.id }) }}">Details</a></li>
                        <li><a class="success button" href="{{ path('shop.addToCart', {'pdt_id' : star.id}) }}">Add to cart</a></li>
                    </ul>
                </div>
            {% else %}
                <h1>No star product to show</h1>
            {% endif %}
            </div>
        </div>
    </header> <!--#Header-->

    <!-- Featured ------------------------------------------------------------------>
    <section id="Featured">
        <div class="row">
            <h2>Featured products</h2>
        </div>
        <div class="row">

            {% if featured is not empty %}
            {% for item in featured %}
                <div class="item">
                    <a href="{{ path('shop.product', {'pdt_id' : item.id }) }}">
                    <div class="content card-1">
                        <div class="left">
                            <div class="photo">
                                <img src="{{ asset('uploads/photos/' ~ item.image) }}" alt="">
                            </div>
                        </div>
                        <div class="right">
                            <div class="title">
                                {{ item.name }}
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            {% endfor %}
            {% else %}
                <p>No featured products</p>
            {% endif %}
        </div>
    </section> <!--#Featured-->
{% endblock %}