{% extends '@InoAdmin/Default/adminBase.html.twig' %}


    {% block main %}
        <section id="main" class="columns">
            <div class="head">
            {%
            set vars = {    title : 'products',
            path : path('admin.editProduct'),
            searchField : true
            }
            %}
            {% include '@InoAdmin/Default/topMenu.html.twig' with vars %}
            </div>
        {% block notices %}
            {{ parent() }}
        {%  endblock %}

            <table class="stack hover list">
                <thead>
                <tr>
                    <th width="20">ID</th>
                    <th width="200">Name</th>
                    <th>Description</th>
                    <th width="100">Image</th>
                    <th width="20">Quantity</th>
                    <th width="40">Price</th>
                    <th width="200">Categorie</th>
                    <th width="60">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                <tr href="{{ path('admin.editProduct', {'id' : product.id }) }}">
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td><img src="{{ asset('uploads/photos/' ~ product.image) }}" alt="Product image"></td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.category.name }}</td>
                    <td><a href="{{ path('admin.deleteProduct', {'id' : product.id}) }}"><span class="fa fa-remove"></span></a></td>
                </tr>
                {% endfor %}

                </tbody>
            </table>

           </section>
    {%  endblock %}
